.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  gap: 50px;
  align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.CounterActive{
  color: red;
  outline: 2px solid #61dafb; /* Синяя рамка */
  border: 3px solid #fff; /* Белая рамка */
  height: 80px;
  padding: 30px;
  margin: 30px;
  font-size: 70px;
  border-radius: 20px;
}
.btn{
  padding: 50px;
  margin: 20px;
}
.btnPlus{
  width: 80px;
  height: 50px;
}
.btnReset{
  width: 80px;
  height: 50px;
}
.counter-all{
    outline: 2px solid #61dafb; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 20px;
    padding-top: 100px;
}
.Counter{
  outline: 2px solid #61dafb; /* Синяя рамка */
  border: 3px solid #fff; /* Белая рамка */
  height: 80px;
  padding: 30px;
  margin: 30px;
  font-size: 70px;
  border-radius: 20px;
}

.counter-settings{
  outline: 2px solid #61dafb; /* Синяя рамка */
  border: 3px solid #fff; /* Белая рамка */
  height: 80px;
  padding: 30px;
  margin: 30px;
  font-size: 70px;
  border-radius: 20px;
  display: table-caption;
}
.set-btn{
  outline: 2px solid #61dafb; /* Синяя рамка */
  border: 3px solid #fff; /* Белая рамка */
  height: 80px;
  padding: 30px;
  margin: 30px;
  font-size: 70px;
  border-radius: 20px;
  margin-top: 50px;
}

.All{
  display: flex;

}
.warning{
  outline: 2px solid #61dafb; /* Синяя рамка */
  border: 3px solid #fff; /* Белая рамка */
  height: 80px;
  padding: 30px;
  margin: 30px;
  font-size: 70px;
  border-radius: 20px;
  margin-top: 50px;
  color: red
}
.Settings-border{
  outline: 2px solid #61dafb; /* Синяя рамка */
  border: 3px solid #fff; /* Белая рамка */
  padding: 30px;
  margin: 30px;
  font-size: 70px;
  border-radius: 20px;
  margin-top: 50px;
  display: flex;
}
.apply-btn{
  width: 70px;
  display:inline-flex;
  flex-direction:column;
  flex-direction: column-reverse;
}